/* Colors */
$clr-black: #000;
$clr-white: #fff;
$clr-gray: hsl(208, 7%, 46%);
$clr-gray-dark: hsl(210, 10%, 23%);
$clr-gray-100: hsl(210, 17%, 98%);
$clr-gray-200: hsl(210, 16%, 93%);
$clr-gray-300: hsl(210, 14%, 89%);
$clr-gray-400: hsl(210, 14%, 83%);
$clr-gray-500: hsl(210, 11%, 71%);
$clr-gray-600: hsl(208, 7%, 46%);
$clr-gray-700: hsl(210, 9%, 31%);
$clr-gray-800: hsl(210, 10%, 23%);
$clr-gray-900: hsl(210, 11%, 15%);
$clr-primary: #0d6efd;
$clr-secondary: #6c757d;

/* HTML */
$clr-body-bg: white;
$clr-code-fg: deeppink;
$clr-btn-bg-dark: hsl(0, 0%, 30%);
$clr-btn-light: white;
$clr-link: darkcyan;

/* Class */
// $clr-hero-bg: skyblue;
$clr-hero-bg: skyblue;
$clr-tags-bg: $clr-gray-200;
/* clr-tags-bg: hsla(35, 68%, 79%, 0.2); */
/* clr-card-bg: cornsilk; */
/* clr-card-bg: paleturquoise; */
$clr-card-bg: $clr-gray-200;

/* Social medaia icon  */
$clr-icon-twitter: #1da1f2;
$clr-icon-linkedin: #0077b5;
