/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap");

$font-size: 16px;
$font-primary: "Inter", sans-serif;
// $font-primary: "Poppins", sans-serif;
$font-hero: "Source Code Pro", monospace;
