/* AboutMe */
@use "abstracts" as a;

.aboutme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.aboutme__img {
  width: min(100%, 412px);
  padding: 2rem;
}

.aboutme__right {
  width: min(100%, 40rem);
  padding: 0 1em;
}

.aboutme__title {
  font-size: 4rem;
}

.aboutme__body {
  font-size: 1.2rem;
}
