@use "abstracts" as a;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;

  .radio {
    display: inline-flex;
    align-items: center;
    margin-left: auto;

    .toggle {
      cursor: pointer;
      color: a.$clr-primary;
    }
  }
}

.dark {
  @include a.dark;
}
