@use "abstracts" as a;

.page {
  min-height: 100vh;
}

.blogcard {
  margin: 2rem 0;

  .title {
    margin: 0 0 0.5em 0;
  }

  .date {
    margin: 0;
    font-size: 0.9em;
  }
}

.dark {
  @include a.dark;
}
