@use "abstracts" as a;

.page {
  min-height: 100vh;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: a.$clr-primary;
  }
}

.meta {
  margin-bottom: 2rem;

  .title {
    font-weight: bold;
    font-size: 4rem;
  }

  .tags {
    display: inline-flex;
    color: a.$clr-primary;

    .tag {
      margin: 0 1em;

      &::before {
        content: "#";
        color: lighten($color: a.$clr-primary, $amount: 20);
        margin-right: 0.1rem;
      }
    }
  }
}

.content {
  img {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    img {
      width: 100%;
    }
  }
}

.prefooter {
  padding: 2rem 0;
  .goback {
    color: a.$clr-btn-light;
    background-color: a.$clr-btn-bg-dark;
    padding: 0.8em;
    border-radius: a.$border-radius-em;
  }
}

.linkme {
  padding: 1em 1.5em;
  border-radius: 1em;
  border: 5px solid a.$clr-gray-700;
  margin: 2rem 0;
}

.dark {
  @include a.dark;

  .linkme {
    background-color: a.$clr-gray-800;
    border-color: transparent;
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
