/* Footer */
@use "abstracts" as a;

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 60%);
  padding: 1em;
  margin-top: 2rem;
}

.footer__text {
  color: a.$clr-white;
  font-size: 0.8rem;
}
