/* SocialLinks */
@use "abstracts" as a;

.social-links {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.social-links__btn {
  display: inline-flex;
  align-items: baseline;
  background-color: a.$clr-btn-bg-dark;
  color: a.$clr-btn-light;
  font-weight: bold;
  border-radius: a.$border-radius-em;
  padding: 0.8em;
  margin: 0 1em 1em 0;
  /* outline: 1px solid red; */
}
